@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .card-icon{
      padding: 26px 33px;
  }
.item{
    width: 96%;
}
.main-card-div{
    width: unset;
}
.menu-icon {
    padding-top: 17%;
}
.hero-img img{
    width: 100%;
    margin-top: 18px;
}
.hero-white-div {
    position: relative;
    top: -28px;
}
.hero-text h1 {
    font-size: 45px;
}
.hero-text p {
    font-size: 20px;
}
.animate-light{
    top: 264px;
}
.all-crypto-heading h1 {
    font-size: 28px;
}
.all-crypto-heading p {
    font-size: 13px;
}
.create-img{
    width: 100%;
}
.create-form-div {
    width: 100%;
}
.create-buy-heading h1 {
    font-size: 28px;
}
.button {
    width: 87%;
}
.crypto-converter-heading {
    padding-top: 13%;
}
.crypto-converter-heading h1 {
    font-size: 28px;
}
.crypto-converter-heading p {
    font-size: 17px;
}
.crypto-form-div {
    width: 100%;
    padding-top: 4%;
}
.crypto-converter-img{
    margin-top: 14%;
}
.buy-sell-heading h1 {
    font-size: 28px;
}
.buy-sell-heading {
    width: 98%;
    text-align: center;
}
.benefits-heading {
    width: 100%;
 
}
.benefits-heading h1 {
    font-size: 28px;
}
.benefits-img{
    width: 100%;
}
.fiat-bg {
    padding: 12% 0%;
}
.fiat-heading h1 {
    font-size: 28px;
}
.fiat-heading{
    text-align: center;
}
.fiat-img{
    width: 100%;
}
.wallet-heading {
    width: 100%;
    margin-left: 0%;
    margin-top: 15%;
    text-align: center;
}
.wallet-heading h1 {
    font-size: 28px;
}
.people-choose-heading h4 {
    font-size: 15px;

}
.people-choose-heading h1 {
    font-size: 28px;
}
.people-choose-heading p {
    font-size: 14px;
}
.people-choose-heading {
    text-align: center;
}
.people-choose-bg {
    padding-bottom: 10%;
}
.features-row {
    position: relative;
    top: 0px;
}
.people-img{
    margin-top: 6%;
}
/* .logo-ul {
    display: block;
    text-align: center;
    padding-left: 0px;
} */
.logo-ul li {
    padding-right: 7%;
    padding-top: 14%;
}
.features-blue {
    text-align: center;
    padding: 7%;
}
.features-purple {
    text-align: center;
    padding: 7%;
}
.features-green {
    text-align: center;
    padding: 7%;

}

.footer-bg {
    text-align: center;
    padding-top: 11%;
    margin-top: 9%;
}
.footer-menu-heading {
    color: white;
    padding-left: 0%;
    margin-top: 10%;
}
.footer-subscribe {
    color: #ffff;
    margin-top: 10%;
}
.footer-p {
    width: 100%;
}
.footer-siteseal-img {
    margin-top: 20px;
}

}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .card-icon{
        padding: 26px 33px;
    }
  .item{
      width: 96%;
  }
  .main-card-div{
      width: unset;
  }
  .menu-icon {
    padding-top: 17%;
}
  .hero-img img{
      width: 100%;
      margin-top: 18px;
  }
  .hero-white-div {
    position: relative;
    top: -46px;
}
  .hero-text h1 {
      font-size: 45px;
  }
  .hero-text p {
      font-size: 20px;
  }
  .animate-light{
      top: 166px;
  }
  .all-crypto-heading h1 {
      font-size: 28px;
  }
  .all-crypto-heading p {
      font-size: 13px;
  }
 
 
  .create-img{
      width: 100%;
  }
  .create-form-div {
      width: 100%;
  }
  .create-buy-heading h1 {
      font-size: 28px;
  }
  .button {
      width: 87%;
  }
  .crypto-converter-heading {
      padding-top: 13%;
  }
  .crypto-converter-heading h1 {
      font-size: 28px;
  }
  .crypto-converter-heading p {
      font-size: 17px;
  }
  .crypto-form-div {
      width: 100%;
      padding-top: 4%;
  }
  .crypto-converter-img{
      margin-top: 14%;
  }
  .buy-sell-heading h1 {
      font-size: 28px;
  }
  .buy-sell-heading {
      width: 98%;
      text-align: center;
  }
  .benefits-heading {
      width: 100%;
   
  }
  .benefits-heading h1 {
      font-size: 28px;
  }
  .benefits-img{
      width: 100%;
  }
  .fiat-bg {
      padding: 12% 0%;
  }
  .fiat-heading h1 {
      font-size: 28px;
  }
  .fiat-heading{
      text-align: center;
  }
  .fiat-img{
      width: 100%;
  }
  .wallet-heading {
      width: 100%;
      margin-left: 0%;
      margin-top: 15%;
      text-align: center;
  }
  .wallet-heading h1 {
      font-size: 28px;
  }
  .people-choose-heading h4 {
      font-size: 15px;
  
  }
  .people-choose-heading h1 {
      font-size: 28px;
  }
  .people-choose-heading p {
      font-size: 14px;
  }
  .people-choose-heading {
      text-align: center;
  }
  .people-choose-bg {
      padding-bottom: 10%;
  }
  .features-row {
      position: relative;
      top: 0px;
  }
  .people-img{
      margin-top: 6%;
  }
  /* .logo-ul {
      display: block;
      text-align: center;
      padding-left: 0px;
  } */
  .logo-ul li {
      padding-right: 7%;
      padding-top: 14%;
  }
  .features-blue {
      text-align: center;
      padding: 7%;
  }
  .features-purple {
      text-align: center;
      padding: 7%;
  }
  .features-green {
      text-align: center;
      padding: 7%;
  
  }
  
  .footer-bg {
      text-align: center;
      padding-top: 11%;
      margin-top: 9%;
  }
  .footer-menu-heading {
      color: white;
      padding-left: 0%;
      margin-top: 10%;
  }
  .footer-subscribe {
      color: #ffff;
      margin-top: 10%;
  }
  .footer-p {
      width: 100%;
  }
  .footer-siteseal-img {
      margin-top: 20px;
  }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .card-icon{
        padding: 26px 33px;
    }
  .item{
      width: 265px;
  }
  .menu-icon {
    padding-top: 10%;
}
  .hero-img img{
      width: 100%;
      margin-top: 18px;
  }
  .hero-white-div {
    position: relative;
    top: -74px;
}
  .hero-text h1 {
      font-size: 45px;
  }
  .animate-light{
      top: 132px;
  }
  .hero-text p {
      font-size: 20px;
  }
  .all-crypto-heading h1 {
      font-size: 28px;
  }
  .all-crypto-heading p {
      font-size: 13px;
  }
  .create-img{
      width: 100%;
  }
  .create-form-div {
      width: 100%;
  }
  .create-buy-heading h1 {
      font-size: 28px;
  }
  .button {
    width: 37%;
  }
  .crypto-converter-heading {
      padding-top: 13%;
  }
  .crypto-converter-heading h1 {
      font-size: 28px;
  }
  .crypto-converter-heading p {
      font-size: 17px;
  }
  .crypto-form-div {
      width: 100%;
      padding-top: 4%;
  }
  .crypto-converter-img{
      margin-top: 14%;
  }
  .buy-sell-heading h1 {
      font-size: 28px;
  }
  .buy-sell-heading {
      width: 98%;
      text-align: center;
  }
  .benefits-heading {
      width: 100%;
   
  }
  .benefits-heading h1 {
      font-size: 28px;
  }
  .benefits-img{
      width: 100%;
  }
  .fiat-bg {
      padding: 12% 0%;
  }
  .fiat-heading h1 {
      font-size: 28px;
  }
  .fiat-heading{
      text-align: center;
  }
  .fiat-img{
      width: 100%;
  }
  .wallet-heading {
      width: 100%;
      margin-left: 0%;
      margin-top: 15%;
      text-align: center;
  }
  .wallet-heading h1 {
      font-size: 28px;
  }
  .people-choose-heading h4 {
      font-size: 15px;
  
  }
  .people-choose-heading h1 {
      font-size: 28px;
  }
  .people-choose-heading p {
      font-size: 14px;
  }
  .people-choose-heading {
      text-align: center;
  }
  .people-choose-bg {
      padding-bottom: 10%;
  }
  .features-row {
      position: relative;
      top: 0px;
  }
  .people-img{
      margin-top: 6%;
  }
  /* .logo-ul {
      text-align: center;
      padding-left: 0px;
  } */
  .logo-ul li {
      padding-right: 6%;
      padding-top: 14%;
  }
  .features-blue {
      text-align: center;
      padding: 7%;
  }
  .features-purple {
      text-align: center;
      padding: 7%;
  }
  .features-green {
      text-align: center;
      padding: 7%;
  
  }
  
  .footer-bg {
      text-align: center;
      padding-top: 11%;
      margin-top: 9%;
  }
  .footer-menu-heading {
      color: white;
      padding-left: 0%;
      margin-top: 10%;
  }
  .footer-subscribe {
      color: #ffff;
      margin-top: 10%;
  }
  .footer-p {
      width: 100%;
  }
  .footer-siteseal-img {
      margin-top: 20px;
  }
    }