body {
    max-width: 100%;
    overflow-x: hidden;
}

/*font*/

@font-face {
    font-family: Poppins-Black;
    src: url(../font/Poppins-Black.ttf)
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../font/Poppins-Bold.ttf)
}

/* Transaction detail popup */

.bank_row_txt {
    font-weight: 700;
}

.detail_border table td {
    border-top: 1px solid #f1f1f194;
}

.heading_id {
    font-weight: 600;
    font-size: larger;
}

.nonlyphonerow {
    font-weight: 500;
}

.pending {
    color: yellow !important;
}

/* update class brUrmY */

.search_cls .brUrmY {
    height: unset !important;
    padding: 6px !important;
}

.buyCryptoName {
    position: absolute;
    z-index: 2;
    top: 14px;
    left: 21px;
    font-size: small;
}

.sellCryptoName {
    position: absolute;
    z-index: 2;
    top: 14px;
    left: 153px;
    font-size: small;
}

.nav-pills {
    text-align: center;
}

.nav-link.active {
    border-bottom: 5px solid #6610f2;
    background-color: #f8f9fc !important;
    color: #6610f2 !important;
}

.custm_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    background-color: #00000059;
}

.card_dialog {
    position: relative;
    top: 80px;
    max-width: 50%;
    margin: auto;
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../font/Poppins-ExtraBold.ttf)
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../font/Poppins-SemiBold.ttf)
}

/* hero section*/

.animate-light {
    position: absolute;
    top: 38px;
    animation-name: light-image;
    animation-duration: 1s;
}

@keyframes light-image {
    0% {
        top: 200px;
        opacity: 0;
    }
    50% {
        top: 44px;
        opacity: 1;
    }
    100% {
        top: 44px;
        opacity: 1;
    }
}

/* Transaction detail popup */

.heading_id {
    font-weight: 600;
    font-size: larger;
}

.nonlyphonerow {
    font-weight: 500;
}

.pending {
    color: yellow !important;
}

/* loader css */

.blockloader {
    top: 0;
    background: #ccc;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0.6;
}

.buy_form_section {
    height: unset !important;
}

.detailtable {
    padding: 0px 20px;
    font-size: 14px;
}

.logo-icon {
    animation-name: zoomInFader;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes zoomInFader {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7);
        transform: rotate(0deg) scale(0.7);
        opacity: 0;
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

.hero-bg {
    background-color: #230097bd;
}

.hero-light-bg {
    /* position: absolute;
z-index: 0; */
    /* background-image: url(../images/bg-2.png); */
}

.menu-icon {
    text-align: right;
    color: white;
    font-size: 24px;
    padding: 5%;
    position: relative;
    z-index: 1;
}

.sidenav-form {
    padding: 9%
}

.sidenav-form .title h2 {
    margin-top: 6%;
    font-size: 28px;
    margin-bottom: 10%;
    color: #ffff;
}

.sidenav-form-input {
    width: 100%;
    padding: 6px 11px;
    background-color: #ffffff00;
    border: 1px solid #ffff;
    margin-bottom: 3%;
}

.form-submit {
    padding: 9px 23px;
}

.sidenav-form-input::placeholder {
    color: #000000 !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 47px;
    right: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000 !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #080808;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-family: Poppins-ExtraBold;
    font-size: 60px;
    color: #ffff;
    margin-top: 2%;
    margin-bottom: 0%;
}

.hero-text p {
    font-family: Poppins-ExtraBold;
    font-size: 30px;
    color: #ffff;
}

.hero-buy-btn {
    background-color: #fff0;
    border: 1px solid #97F7A4;
    color: #97F7A4;
    padding: 10px 26px;
    border-radius: 23px;
    font-family: Poppins-SemiBold;
    animation-name: green-btn;
    animation-duration: 7s;
    position: relative;
}

.hero-sell-btn {
    background-color: #fff0;
    border: 1px solid #FB92A7;
    color: #FB92A7;
    margin-left: 3%;
    padding: 10px 26px;
    border-radius: 23px;
    font-family: Poppins-SemiBold;
    animation-name: pink-btn;
    animation-duration: 6s;
    position: relative;
}

.hero-white-div {
    position: relative;
    top: -126px;
}

.hero-white-div img {
    width: 100%;
    position: relative;
    height: 10vw;
}

.hero-img {
    text-align: center;
    position: relative;
    z-index: 1;
    animation: myMove 4s;
}

@keyframes myMove {
    from {
        top: 200px;
    }
    to {
        top: 0px;
    }
}

.hero-text-h1 {
    animation-name: text;
    animation-duration: 4s;
}

@keyframes text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-text p {
    animation-name: text-p;
    animation-duration: 5s;
}

@keyframes text-p {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pink-btn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes green-btn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* all crypto*/

.all-crypto-heading {
    text-align: center;
    margin-bottom: 7%;
}

.all-crypto-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
    animation-name: main-heading;
    animation-duration: 8s;
}

@keyframes main-heading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.all-crypto-heading p {
    color: #888A8B;
    font-size: 16px;
    font-family: Poppins-SemiBold;
    font-weight: regular;
    animation-name: main-heading;
    animation-duration: 8s;
}

.card-top-margin {
    margin-top: 6%;
}

.main-card-div {
    border-radius: 21px;
    box-shadow: 1px 4px 12px #8080801c;
    width: 300px;
}

.card-icon {
    text-align: center;
    padding: 21px 33px;
}

.card-icon p {
    font-family: Poppins-SemiBold;
    color: #888A8B;
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 14px;
}

.card-pink {
    border-radius: 0 23px 0 0;
    background-color: #EC8297;
    box-shadow: inset 5px 1px 3px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 28px 0px;
    color: #ffff;
    font-family: Poppins-SemiBold;
    font-size: 14px;
}

.card-pink p {
    margin-bottom: 0px !important;
}

.card-green {
    border-radius: 0 0 23px;
    background-color: #7FE18C;
    box-shadow: inset 5px 1px 3px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 28px 0px;
    color: #ffff;
    font-family: Poppins-SemiBold;
    font-size: 14px;
}

.card-green p {
    margin-bottom: 0px !important;
}

.card-pl {
    padding-left: 0px;
}

.card-pr {
    padding-right: 0px;
}

.owl-carousel .owl-item img {
    display: initial !important;
    width: 100px !important;
}

.item {
    height: 231px;
    width: 300px;
}

/*create buy/sell section */

.create-buy-heading {
    text-align: center;
    margin-top: 12%;
}

.create-buy-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
}

.create-buy-margin {
    margin-top: 6%;
}

/* start form*/

select {
    /* background: url(../images/arrw.png) right center no-repeat; */
    /* -webkit-appearance: none;
-moz-appearance: none;
-webkit-appearance: none; */
    /* background-size: 15px; */
}

.create-form-div {
    width: 80%;
}

.create-group {
    position: relative;
    margin-bottom: 45px;
}

.create-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c3c3c3;
    ;
    background-color: #f5deb300;
}

.create-input:focus {
    outline: none;
}

.create-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

.create-input:focus~.create-label, .create-input:valid~.create-label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: absolute;
    right: 14px;
    top: 12px;
    color: #999;
}

.toggle-btn-div {
    margin-bottom: 8%;
    text-align: center;
    margin-top: 16%;
}

.buy-btc-div {
    text-align: center;
}

.buy-btc-btn {
    border: 1px solid #7fe18c;
    color: #7fe18c;
    background-color: #ffffff00;
    padding: 12px 41px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
}

.sell-btc-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 12px 41px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
}

.toggle-btn-div button {
    background-color: #FB92A7;
    color: #ffff;
    padding: 12px 26px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
    border: none;
}

/* slide button*/

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 60%;
    height: 49px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px #80808036;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ffff;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */

#button-1 .knobs:before {
    content: 'BUY CRYPTO';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 138px;
    height: 49px;
    color: #fff;
    font-family: Poppins-SemiBold;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 18px 4px;
    background-color: #7FE18C;
    border-radius: 45px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs:before {
    content: 'SELL CRYPTO';
    font-family: Poppins-SemiBold;
    left: 120px;
    background-color: #FB92A7;
}

#button-1 .checkbox:checked~.layer {
    background-color: #ffff;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
    transition: 0.3s ease all;
}

/*end form*/

/*Crypto converter*/

.crypto-converter-bg {
    background-color: rgba(179, 203, 249, 0.11);
    margin-top: 10%;
    padding-bottom: 8%;
}

.crypto-converter-heading {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 6%;
}

.crypto-converter-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
}

.crypto-converter-heading p {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
    font-size: 21px;
    margin-bottom: 3px;
}

.crypto-form-div {
    width: 80%;
    padding-top: 15%;
}

.crypto-converter-div {
    text-align: center;
}

.crypto-converter-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 12px 26px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
}

/*buy&sell section*/

.buy-sell-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
}

.buy-sell-heading P {
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    line-height: 25px;
    font-style: italic;
}

.buy-sell-heading {
    width: 91%;
}

.buy-sell-margin {
    margin-top: 12%;
}

/*  benefits section */

.benefits-bg {
    background-color: rgba(179, 203, 249, 0.11);
    padding-bottom: 8%;
}

.benefits-heading {
    text-align: center;
    width: 57%;
    margin: 0 auto;
    margin-top: 12%;
}

.benefits-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
    padding-top: 12%;
}

.benefits-heading P {
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    line-height: 25px;
}

.benefits-ul {
    list-style: none;
    margin-top: 11%;
}

.benefits-ul li {
    padding-top: 6%;
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-style: italic;
}

.benefits-ul li::before {
    content: url(../images/tick.png);
    margin-right: 13px;
}

/*fiat section*/

.fiat-bg {
    background-color: #736cf0;
    padding: 7% 0%;
}

.fiat-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #ffff;
}

.fiat-heading p {
    font-family: Poppins-SemiBold;
    color: #ffff;
    font-style: italic;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 0px;
}

.fiat-img-margin {
    margin-top: 5%;
}

/* wallet section*/

.wallet-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
    font-style: italic;
}

.wallet-heading p {
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    line-height: 25px;
}

.wallet-heading {
    width: 73%;
    margin-left: 10%;
    margin-top: 25%;
}

.wallet-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 10px 31px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
}

.wallet-margin {
    margin-top: 10%;
}

/* why people choose section*/

.people-choose-bg {
    background-color: #7973F5;
    margin-top: 10%;
    padding-top: 8%;
    padding-bottom: 5%;
}

.people-choose-heading {
    margin-top: 4%;
}

.people-choose-heading h4 {
    font-family: Poppins-SemiBold;
    color: #ffff;
}

.people-choose-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #ffff;
}

.people-choose-heading p {
    font-family: Poppins-SemiBold;
    color: #ffff;
    font-size: 16px;
}

.people-choose-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 10px 31px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
}

/* features section*/

.features-blue {
    background-color: #4262C1;
    padding: 4%;
}

.features-card img {
    width: 12%;
}

.features-card h4 {
    font-family: Poppins-ExtraBold;
    color: #ffff;
    margin-top: 7%
}

.features-card p {
    font-weight: 500;
    color: #ffff;
    font-size: 14px;
    height: 200px;
}

.features-card i {
    color: white;
    font-size: 27px;
}

.features-purple {
    background-color: #694E96;
    padding: 4%;
}

.features-green {
    background-color: #43C1A8;
    padding: 4%;
}

.features-row {
    position: relative;
    top: -102px;
}

/* logo section*/

.logo-img {
    max-width: 130px
}

.logo-ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

.logo-ul li {
    padding-right: 6%;
    display: block ruby;
}

.marquee-footer {
    font-size: 30px;
    font-weight: 800;
    color: #EC8297;
    font-family: Poppins-ExtraBold;
}

/* footer section*/

.footer-bg {
    background-color: #292B30;
    padding-top: 6%;
    padding-bottom: 3%;
    margin-top: 6%;
}

.footer-logo {
    width: 55%;
}

.footer-siteseal-img {
    display: block;
    margin-bottom: 20px;
    margin-top: 15px
}

/* slide button*/

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.change_lable {
    padding-top: 3px;
    margin-bottom: 4px;
}

.change-button {
    /* font-size: unset !important; */
}

.btn_color {
    background-color: #5d46af !important;
    border-color: #5d46af;
}

.fa-eye {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.button {
    position: relative;
    top: 50%;
    width: 60%;
    height: 49px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px #80808036;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ffff;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */

#button-1 .knobs:before {
    content: 'BUY CRYPTO';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 138px;
    height: 49px;
    color: #fff;
    font-family: Poppins-SemiBold;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 18px 4px;
    background-color: #7FE18C;
    border-radius: 45px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs:before {
    content: 'SELL CRYPTO';
    font-family: Poppins-SemiBold;
    left: 120px;
    background-color: #FB92A7;
}

#button-1 .checkbox:checked~.layer {
    background-color: #ffff;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
    transition: 0.3s ease all;
}

/*end form*/

.footer-p {
    color: white;
    font-size: 17px;
    width: 90%;
}

.footer-main-menu {
    color: #ffff;
    padding-left: 12%;
}

.footer-main-menu ul {
    list-style: none;
    padding: 0px;
    margin-top: 11%;
}

.footer-main-menu li {
    padding-top: 11%;
}

.footer-menu1 {
    color: #ffff;
    padding-left: 12%;
}

.footer-menu1 ul {
    list-style: none;
    padding: 0px;
    margin-top: 10%;
}

.footer-menu1 li {
    padding-top: 11%;
}

.footer-subscribe {
    color: #ffff;
}

.subscribe-div {
    /* background-color: #eaeaea12;
    border-radius: 48px;
    padding: 9px 9px;
    display: inline-flex;
    width: 100%; */
}

.input-email {
    padding: 1.575rem 0.95rem;
    border-radius: 2.25rem;
    width: 90%;
}

.footer-subscribe h4 {
    margin-bottom: 8%;
}

.subscribe-btn {
    background-color: #5b42b2;
    border: none;
    color: white;
    border-radius: 28px;
    padding: 15px;
}

.footer-menu-heading {
    color: white;
    padding-left: 5%;
}

.sub-pl {
    /* padding-left: 5%; */
}

.footer-subscribe p {
    margin-top: 25px;
    font-size: 14px;
    color: #5a5c62;
}

/* for marquee */

.marquee {
    max-width: 1880px !important;
    padding: 0 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: black;
}

.marque_main {
    width: 100%;
    display: flex;
}

.marque_main .Marquee {
    width: 100%;
    display: flex;
}

.MarqueeContent {
    display: flex;
}

/* .marquee marquee{
background: rgb(42, 45, 60);
padding: 20px 0;
} */

.marquee .mrq_link {
    text-decoration: none;
    /* float: left;
margin-right: 8px; */
    font-family: monospace;
    width: 455px;
    padding: 10px;
}

.marquee .mrq_link_s {
    text-decoration: none;
    /* float: left;
margin-right: 8px; */
    font-family: monospace;
    width: 250px;
    padding: 10px;
}

.marquee .coin_img {
    width: 100%;
    max-width: 18px;
    min-width: 18px;
    float: left;
    margin-top: 5px;
}

.marquee .cName {
    margin-left: 4px;
    font-size: 20px;
    color: white;
}

.marquee .rate {
    margin-left: 0px;
    font-size: 20px;
    color: white;
}

.marquee .growth {
    font-size: 18px;
}

.marquee .growth.green {
    color: #049404;
    /* margin-left: -8px; */
}

.marquee .growth.red {
    color: red;
    /* margin-left: -8px; */
}

/* .marqueee {
width: 100%;
overflow: hidden;
background: black;
}
ul.marqueee li {
display: inline-block;
padding: 10px 20px;
} */

/* .fade-in{

animation-name: fadeInLeft;
animation-fill-mode: both;
animation-duration: 2s;

}
@keyframes fadeInLeft {
from {
opacity:0;
-webkit-transform: translatex(-30px);
-moz-transform: translatex(-30px);
-o-transform: translatex(-30px);
transform: translatex(-30px);
}
to {
opacity:1;
-webkit-transform: translatex(0);
-moz-transform: translatex(0);
-o-transform: translatex(0);
transform: translatex(0);
}
}
*/

/* .slideinleft {
margin-left:-300px;
max-width:100%;
} */

/*{
margin: 0;
padding: 0;
}

html {
overflow-y: scroll;
}

body {
background: #f0f0f0;
color: #000;
}*/

/* animation*/

.rightAlign {
    float: right;
}

.leftAlign {
    float: left;
}

.animateBlock {
    margin-top: 20px;
    display: inline-block;
    /* opacity: 0; */
    filter: alpha(opacity=0);
    position: relative;
    -webkit-transition: all .55s ease-in;
    -moz-transition: all .55s ease-in;
    -ms-transition: all .55s ease-in;
    -o-transition: all .55s ease-in;
    transition: all .55s ease-in;
}

.animateBlock.left {
    left: 0;
}

.animateBlock.right {
    right: 0;
}

.left.animated {
    left: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    animation-delay: 0s;
}

.right.animated {
    right: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.crypto-form-div .source {
    background-color: #ffffff00 !important;
    padding: 5px !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    color: #8a8686 !important;
}

.crypto-form-div .target {
    background-color: #ffffff00 !important;
    padding: 5px !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    color: #8a8686 !important;
}

.convert_error {
    font-size: 16px;
    color: #ec8197;
    font-weight: bold;
}

.error_msg p {
    font-size: 16px;
    color: #ec8197;
    font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .marquee {
        /* max-width: 100% !important; */
        padding: 0 !important;
        /* position: absolute; */
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background: black;
    }
    .MarqueeContent {
        display: flex;
        width: unset !important;
        /* overflow: hidden; */
    }
    .marquee .mrq_link {
        text-decoration: none;
        /* float: left;
margin-right: 8px; */
        font-family: monospace;
        width: 700px;
        padding: 10px;
    }
    .marquee .mrq_link_s {
        text-decoration: none;
        /* float: left;
margin-right: 8px; */
        font-family: monospace;
        width: 500px;
        padding: 10px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .marquee {
        /* max-width: 100% !important; */
        padding: 0 !important;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background: black;
    }
    .MarqueeContent {
        display: flex;
        width: unset !important;
        /* overflow: hidden; */
    }
    .marquee .mrq_link {
        text-decoration: none;
        /* float: left;
    margin-right: 8px; */
        font-family: monospace;
        width: 700px;
        padding: 10px;
    }
    .marquee .mrq_link_s {
        text-decoration: none;
        /* float: left;
    margin-right: 8px; */
        font-family: monospace;
        width: 500px;
        padding: 10px;
    }
}

.kt-form__actions .btn :focus {
    box-shadow: 0 0 0 0 0 #5f47af !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #614bad !important;
}


.card-pink {

    border-radius: 0 23px 0 0;
    background-color: #EC8297;
    box-shadow: inset 5px 1px 3px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 28px 0px;
    color: #ffff;
    font-family: Poppins-SemiBold;
    font-size: 14px;
  }
  
  .card-pink p {
    margin-bottom: 0px !important;
  }
  
  .card-green {
  
    border-radius: 0 0 23px;
    background-color: #7FE18C;
    box-shadow: inset 5px 1px 3px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 28px 0px;
    color: #ffff;
    font-family: Poppins-SemiBold;
    font-size: 14px;
  }
  
  .card-green p {
    margin-bottom: 0px !important;
  }
  
  .card-pl {
    padding-left: 0px;
  }
  
  .card-pr {
    padding-right: 0px;
  }
  
  .owl-carousel .owl-item img {
    display: initial !important;
    width: 100px !important;
  
  }
  
  .item {
    height: 231px;
    width: 300px;
  }
  
  /*create buy/sell section */
  .create-buy-heading {
    text-align: center;
    margin-top: 12%;
  }
  
  .create-buy-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
  
  
  }
  
  .create-buy-margin {
    margin-top: 6%;
  }
  
  /* start form*/
  select {
    /* background: url(../images/arrw.png) right center no-repeat; */
    /* -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; */
    /* background-size: 15px; */
  }
  
  .create-form-div {
    width: 80%;
  
  }
  
  .create-group {
    position: relative;
    margin-bottom: 45px;
  }
  
  .create-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c3c3c3;
    ;
    background-color: #f5deb300;
  }
  
  .create-input:focus {
    outline: none;
  }
  
  
  .create-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  /* active state */
  .create-input:focus~.create-label,
  .create-input:valid~.create-label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }
  
  .bar {
    position: absolute;
    right: 14px;
    top: 12px;
    color: #999;
  }
  
  .toggle-btn-div {
    margin-bottom: 8%;
    text-align: center;
    margin-top: 16%;
  }
  
  .buy-btc-div {
    text-align: center;
  }
  
  .buy-btc-btn {
    border: 1px solid #7fe18c;
    color: #7fe18c;
    background-color: #ffffff00;
    padding: 12px 41px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
  }
  
  .sell-btc-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 12px 41px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
  }
  
  .toggle-btn-div button {
    background-color: #FB92A7;
    color: #ffff;
    padding: 12px 26px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
    border: none;
  }
  
  /* slide button*/
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 60%;
    height: 49px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px #80808036;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ffff;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    content: 'BUY CRYPTO';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 138px;
    height: 49px;
    color: #fff;
    font-family: Poppins-SemiBold;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 18px 4px;
    background-color: #7FE18C;
    border-radius: 45px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked+.knobs:before {
    content: 'SELL CRYPTO';
    font-family: Poppins-SemiBold;
    left: 120px;
    background-color: #FB92A7;
  
  }
  
  #button-1 .checkbox:checked~.layer {
    background-color: #ffff;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }
  
  /*end form*/
  
  
  /*Crypto converter*/
  .crypto-converter-bg {
    background-color: rgba(179, 203, 249, 0.11);
    margin-top: 10%;
    padding-bottom: 8%;
  }
  
  .crypto-converter-heading {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 6%;
  
  }
  
  .crypto-converter-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
  }
  
  .crypto-converter-heading p {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
    font-size: 21px;
    margin-bottom: 3px;
  }
  
  .crypto-form-div {
    width: 80%;
    padding-top: 15%;
  }
  
  .crypto-converter-div {
    text-align: center;
  }
  
  .crypto-converter-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 12px 26px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
  }
  
  /*buy&sell section*/
  .buy-sell-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
  
  }
  
  .buy-sell-heading P {
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    line-height: 25px;
    font-style: italic;
  }
  
  .buy-sell-heading {
    width: 91%;
  }
  
  .buy-sell-margin {
    margin-top: 12%;
  }
  
  /*  benefits section */
  .benefits-bg {
    background-color: rgba(179, 203, 249, 0.11);
    padding-bottom: 8%;
  }
  
  .benefits-heading {
    text-align: center;
    width: 57%;
    margin: 0 auto;
    margin-top: 12%;
  }
  
  .benefits-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
    padding-top: 12%;
  
  }
  
  .benefits-heading P {
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    line-height: 25px;
  }
  
  .benefits-ul {
    list-style: none;
    margin-top: 11%;
  }
  
  .benefits-ul li {
    padding-top: 6%;
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-style: italic;
  }
  
  .benefits-ul li::before {
    content: url(../images/tick.png);
    margin-right: 13px;
  }
  
  /*fiat section*/
  .fiat-bg {
    background-color: #736cf0;
    padding: 7% 0%;
  }
  
  .fiat-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #ffff;
  
  }
  
  .fiat-heading p {
    font-family: Poppins-SemiBold;
    color: #ffff;
    font-style: italic;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 0px;
  }
  
  .fiat-img-margin {
    margin-top: 5%;
  }
  
  /* wallet section*/
  .wallet-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #3c3b3b;
    font-style: italic;
  }
  
  .wallet-heading p {
    color: #888A8B;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    line-height: 25px;
  }
  
  .wallet-heading {
    width: 73%;
    margin-left: 10%;
    margin-top: 25%;
  }
  
  .wallet-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 10px 31px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
  }
  
  .wallet-margin {
    margin-top: 10%;
  }
  
  /* why people choose section*/
  .people-choose-bg {
    background-color: #7973F5;
    margin-top: 10%;
    padding-top: 8%;
    padding-bottom: 5%;
  
  }
  
  .people-choose-heading {
    margin-top: 4%;
  }
  
  .people-choose-heading h4 {
    font-family: Poppins-SemiBold;
    color: #ffff;
  
  }
  
  .people-choose-heading h1 {
    font-family: Poppins-ExtraBold;
    color: #ffff;
  
  }
  
  .people-choose-heading p {
    font-family: Poppins-SemiBold;
    color: #ffff;
    font-size: 16px;
  }
  
  .people-choose-btn {
    border: 1px solid #EC8297;
    color: #EC8297;
    background-color: #ffffff00;
    padding: 10px 31px;
    border-radius: 32px;
    font-family: Poppins-SemiBold;
  }
  
  /* features section*/
  .features-blue {
    background-color: #4262C1;
    padding: 4%;
  }
  
  .features-card img {
    width: 12%;
  }
  
  .features-card h4 {
    font-family: Poppins-ExtraBold;
    color: #ffff;
    margin-top: 7%
  }
  
  .features-card p {
  
    font-weight: 500;
    color: #ffff;
    font-size: 14px;
    height: 200px;
  }
  
  .features-card i {
    color: white;
    font-size: 27px;
  }
  
  .features-purple {
    background-color: #694E96;
    padding: 4%;
  }
  
  .features-green {
    background-color: #43C1A8;
    padding: 4%;
  }
  
  .features-row {
    position: relative;
    top: -102px;
  }
  
  /* logo section*/
  .logo-img {
    max-width: 130px
  }
  
  .logo-ul {
    list-style: none;
    display: flex;
    padding: 0px;
  }
  
  .logo-ul li {
    padding-right: 6%;
    display: block ruby;
  }
  
  .marquee-footer {
    font-size: 30px;
    font-weight: 800;
    color: #EC8297;
    font-family: Poppins-ExtraBold;
  }
  
  
  /* footer section*/
  .footer-bg {
    background-color: #292B30;
    padding-top: 6%;
    padding-bottom: 3%;
    margin-top: 6%;
  }
  
  .footer-logo {
    width: 55%;
  }
  
  .footer-siteseal-img {
    display: block;
    margin-bottom: 20px;
    margin-top: 15px
  }
  
  /* slide button*/
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .change_lable {
    padding-top: 3px;
    margin-bottom: 4px;
  }
  
  .change-button {
    /* font-size: unset !important; */
  }
  
  .btn_color {
    background-color: #5d46af !important;
    border-color: #5d46af;
  }
  
  .fa-eye {
    cursor: pointer;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 60%;
    height: 49px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px #80808036;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ffff;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    content: 'BUY CRYPTO';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 138px;
    height: 49px;
    color: #fff;
    font-family: Poppins-SemiBold;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 18px 4px;
    background-color: #7FE18C;
    border-radius: 45px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked+.knobs:before {
    content: 'SELL CRYPTO';
    font-family: Poppins-SemiBold;
    left: 120px;
    background-color: #FB92A7;
  
  }
  
  #button-1 .checkbox:checked~.layer {
    background-color: #ffff;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }
  
  /*end form*/
  
  .footer-p {
    color: white;
    font-size: 17px;
    width: 90%;
  }
  
  .footer-main-menu {
    color: #ffff;
    padding-left: 12%;
  }
  
  .footer-main-menu ul {
    list-style: none;
    padding: 0px;
    margin-top: 11%;
  }
  
  .footer-main-menu li {
    padding-top: 11%;
  }
  
  .footer-menu1 {
    color: #ffff;
    padding-left: 12%;
  }
  
  .footer-menu1 ul {
    list-style: none;
    padding: 0px;
    margin-top: 10%;
  }
  
  .footer-menu1 li {
    padding-top: 11%;
  }
  
  .footer-subscribe {
    color: #ffff;
  }
  
  .subscribe-div {
    /* background-color: #eaeaea12;
    border-radius: 48px;
    padding: 9px 9px;
    display: inline-flex;
    width: 100%; */
  }
  
  .input-email {
    padding: 1.575rem 0.95rem;
    border-radius: 2.25rem;
    width: 90%;
  }
  
  .footer-subscribe h4 {
    margin-bottom: 8%;
  }
  
  .subscribe-btn {
    background-color: #5b42b2;
    border: none;
    color: white;
    border-radius: 28px;
    padding: 15px;
  }
  
  .footer-menu-heading {
    color: white;
    padding-left: 5%;
  }
  
  .sub-pl {
    /* padding-left: 5%; */
  }
  
  .footer-subscribe p {
    margin-top: 25px;
    font-size: 14px;
    color: #5a5c62;
  }
  
  
  /* for marquee */
  
  .marquee {
    max-width: 1880px !important;
    padding: 0 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: black;
  }
  
  .marque_main {
    width: 100%;
    display: flex;
  }
  
  .marque_main .Marquee {
    width: 100%;
    display: flex;
  }
  
  .MarqueeContent {
    display: flex;
  }
  
  /* .marquee marquee{
  background: rgb(42, 45, 60);
  padding: 20px 0;
  } */
  .marquee .mrq_link {
    text-decoration: none;
    /* float: left;
  margin-right: 8px; */
    font-family: monospace;
    width: 455px;
    padding: 10px;
  }
  
  .marquee .mrq_link_s {
    text-decoration: none;
    /* float: left;
  margin-right: 8px; */
    font-family: monospace;
    width: 250px;
    padding: 10px;
  }
  
  .marquee .coin_img {
    width: 100%;
    max-width: 18px;
    min-width: 18px;
    float: left;
    margin-top: 5px;
  }
  
  .marquee .cName {
    margin-left: 4px;
    font-size: 20px;
    color: white;
  }
  
  .marquee .rate {
    margin-left: 0px;
    font-size: 20px;
    color: white;
  }
  
  .marquee .growth {
    font-size: 18px;
  }
  
  .marquee .growth.green {
    color: #049404;
    /* margin-left: -8px; */
  }
  
  .marquee .growth.red {
    color: red;
    /* margin-left: -8px; */
  }
  