.login-btn {
    margin-right: 15px;
    font-size: 15px;
    background-color: #10cb6c;
    border: none;
    color: #fff;
    border-radius: 23px;
    padding: 8px 30px;
}
 .marquWidth{
     width: 100%;
 }   
.register-btn {
    background-color: unset;
    border: unset;
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
}
.back-clr {
    background-color: #230097bd;
}
.action-table{
    width: 100%;
}
.action-table tr .content{
    text-align: left;
}
.action-table tr .table-button{
    text-align: right;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .checkbox-input:checked + .slider {
    background-color: #614bad;
  }
  
  .checkbox-input:focus + .slider {
    box-shadow: 0 0 1px #614bad;
  }
  
  .checkbox-input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}  
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #6e707e;
    background-color: #fff;
    border-color: #fff;
    border-bottom: solid 2px #5f48ad !important;
}
.tabs-profile {
    background: #fff;
    padding: 0 0 0 0;

}
.tab-button{
    border-right: 2px solid #dddfeb !important;
    border-radius: 0 !important;
}
.tab-nav{
    box-shadow: 0px 3px 8px 0px rgba(154, 154, 154, .26);
}
.user-image{
    text-align: center;
    width: 200px;
}
.user-image img{
    width: 100%;
}
.ip-section {
    border-bottom: 1px solid;
    padding: 1% 0;
    margin-bottom: 35px;
}
.form-button{
    width: 20%;
}
#nav-tab .nav-link{
    color: #3A3A3A;
    cursor: pointer;
    text-align: center;
}
.change-button{
    background: no-repeat;
    border: none;
    font-size: 14px;
    color: #2B4C9D;
}
.securty-section{
    padding: 30px;
}
#nav-profile{
    padding: 30px;
}
.coin-type {
    margin-left: 1%;
    position: relative;
    top: 0px;
    font-size: 12px;
}
.currency-table td img {
    float: left;
    max-width: 20px;
    margin-top: 3px;
}
.currency-table table{
    width: 100%;
}
.currency-section {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}
.currency-section h5{
    padding: 20px 0;
}
.currency-table table tr td{
    padding: 3%;
}
.ip-section p{
    margin: 0px !important;
}
.ip-section label{
    margin-bottom: 25px;
}
.twofactor-section{
    background: #f8f9fc;
    padding-top: 40px;
}
.wallet_table tr td, .wallet_table tr th {
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 20px;
}
.wallet_table tr td img.icon {
    display: inline-block;
    margin-right: 15px;
}
.wallet_table tr .options {
    width: 180px;
}
.wallet_table .deposit img{
    width: 30px;
    margin: 0 5px;
}
.wallet_table .withdrawClick img{
    width: 30px;
    margin: 0 5px;
}
.wallets-section{
    padding: 30px;
}
.wallets-section .table-section{
    background: #fff;
}
.twofactor-section .auth-h2{
    color: #4B0082;
    font-size: 20px;
}
.twofactor-section .green-enable-btn{
    border-radius: 4px;
    padding: 5px 13px;
    border: none;
    margin-bottom: 7px;
}
.twofactor-section .enable-button{
    border-bottom: 1px solid #d6d5d5;
}
.twofactor-section .barcode-section{
    border-bottom: 1px solid #d6d5d5;
}
.twofactor-section .button-enable{
    text-align: right;
}
.hide_on_mobile{
    display: block;
}
.topbar #sidebarToggleTop{
    /* display: block !important; */
}
.invalid-feedback {
    display: block !important;
    margin-bottom: 1rem;
    color: #e74a3b;
}
.btn-group >.btn:focus {
    box-shadow: none !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mrq_link{
        width:315px !important;
    }
    .ip-section{
        text-align: center;
    }
    .ip-section label {
        margin-bottom: 0px;
    }
    .ip-section p {
        margin-bottom: 15px !important;
    }
    .form-button {
        width: 100%;
    }
    .currency-section {
        margin-top: 30px;
    }
    .column-2 {
        padding: 0px;
        height: unset;
    }
    .twofactor-section .auth-h2 {
        font-size: 16px;
        text-align: center;
    }
    .twofactor-section .button-enable {
        text-align: center;
    }
    .twofactor-section .playstorelogo{
        text-align: center;
    }
    .twofactor-section .playstorelogo img{
        margin: 10px;
    }
    .twofactor-section .barcode-section {
        text-align: center;
        margin-top: 20px;
    }
    .twofactor-section .content-section{
        text-align: center;
        margin-top: 20px;
    }
    .hide_on_mobile{
        display: none;
    }
    .wallet_table tr td, .wallet_table tr th {
        font-size: 12px;
    }
    .wallet_table tr td img.icon {
        margin-right: 4px;
        max-width: 20px;
    }
    .wallet_table tr td.co_image {
        display: flex;
    }
    .wallets-section {
        padding: 10px;
    }
    .wallet_table tr .options {
        width: 120px;
    }
    .wallet_table .deposit img {
        width: 20px;
        margin: 0 5px;
    }
    .wallet_table .withdrawClick img {
        width: 20px;
        margin: 0 5px;
    }
    .user-image {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .ip-section{
        text-align: center;
    }
    .ip-section label {
        margin-bottom: 0px;
    }
    .ip-section p {
        margin-bottom: 15px !important;
    }
    .form-button {
        width: 100%;
    }
    .currency-section {
        margin-top: 30px;
    }
    .column-2 {
        padding: 0px;
        height: unset;
    }
    .twofactor-section .auth-h2 {
        font-size: 16px;
        text-align: center;
    }
    .twofactor-section .button-enable {
        text-align: center;
    }
    .twofactor-section .playstorelogo{
        text-align: center;
    }
    .twofactor-section .playstorelogo img{
        margin: 10px;
    }
    .twofactor-section .barcode-section {
        text-align: center;
        margin-top: 20px;
    }
    .twofactor-section .content-section{
        text-align: center;
        margin-top: 20px;
    }
    .hide_on_mobile{
        display: none;
    }
    .wallet_table tr td, .wallet_table tr th {
        font-size: 12px;
    }
    .wallet_table tr td img.icon {
        margin-right: 4px;
        max-width: 20px;
    }
    .wallet_table tr td.co_image {
        display: flex;
    }
    .wallets-section {
        padding: 10px;
    }
    .wallet_table tr .options {
        width: 120px;
    }
    .wallet_table .deposit img {
        width: 20px;
        margin: 0 5px;
    }
    .wallet_table .withdrawClick img {
        width: 20px;
        margin: 0 5px;
    }
    .user-image {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .user-image{
        text-align: center;
        width: 100%;
    }
    .currency-section {
        padding: 5px !important;
        margin-top: 20px;
    }
}