.top-div-in-column-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.middle-div-in-column-2 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: 1px solid #ddd;
    color: #808080;
}
.middle-div-in-column-2 h5{
    color: #343132;
    font-size: 13px;
}
.playstorelogo img {
    width: 100px;
    height: 30px;
}
.bottom-div-in-column-2 {
    color: #808080;
}
.top-div-in-column-2 h2 {
    color: #4B0082;
    font-size: 20px;
}
.top-div-in-column-2 button {
    border-radius: 4px;
    padding: 5px 13px;
    border: none;
    margin-bottom: 7px;
}
.green-enable-btn {
    color: white ;
    background: #46C646;
}
.gray {
    color: white;
    background: gray;
}
.column-1{
    /* background-image: url(../../../public/assets/media/bg/bg-4.jpg); */
    padding: 20px;
}
.column-1 img {
    width: 200px;
}
.column-1 p {
    color: white;
}
.column-2 {
    padding: 30px;
    height: 100vh;
}
.span-color-red {
    color: #DC143C;
    font-family: Times New Roman;
    font-size: 11px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.middle-div-in-column-2 {
    display: block;
}
.column-2 {
    height: unset;
}
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .middle-div-in-column-2 {
        display: block;
    }
    .column-2 {
        height: unset;
    }
    }