/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.login-data {
  margin-top: 35%;
  color: #230097bd;
  text-align: center;
}

.login-data-otp {
  margin-top: 15%;
  color: #230097bd;
  text-align: center;
}

.login-data h2 {
  font-weight: 800;
}

.login-data h5 {
  font-weight: 500;
  margin-top: 12px;
}

.td-cell-head {
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  padding: 9px;
}

.td-cell-content {
  font-size: 14px;
  padding: 10px;
}

.modal-updt-cncl-btn {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  background-color: #5b42b2 !important;
  background-image: linear-gradient(180deg, #5b42b2 10%, #624dab 100%) !important;
}

.btn-primary {
  color: #fff;
  background-color: #5b42b2;
  border-color: #5b42b2;
}

.forget-section .login-data {
  margin-top: 15%;
  color: #230097bd;
  text-align: center;
}

.topbar .dropdown-list .dropdown-header {
  background-color: #5b42b2 !important;
  border: 1px solid #5b42b2 !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
}

.sidebar {
  width: 14rem;
}

.small-width {
  width: 70px;
}

.small-width .sidebar-brand-text {
  display: none !important;
}

.small-width .nav-item .nav-link {
  width: 100%;
}

.small-width .nav-item .nav-link i {
  font-size: 30px !important;
}

.small-width .nav-item .nav-link span {
  display: none !important;
}

.small-width .nav-item .nav-link::after {
  display: none !important;
}

.small-width .sidebar-heading {
  padding: 0 10px !important;
}

.small-width .nav-item .collapse .collapse-inner {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, .15)
}

.small-width .sliderclose {
  transform: rotate(180deg);
}

.bank-section {
  padding: 30px;
}

.kt-subheader__toolbar {
  width: 50%;
  float: left;
  margin-bottom: 15px;
}

.kt-portlet__head {
  width: 50%;
  float: left;
  margin-top: 0px !important;
  margin-bottom: 15px;
}

.kt-portlet__head select {
  margin-bottom: 0 !;
}

.kt-portlet {
  margin-top: 15px;
}

.bank-button {
  background-color: #5f47af !important;
  color: #fff !important;
  border-color: #5f47af !important;
}

.kt-portlet__body .onlytablet .rdt_TableHeader {
  display: none;
}

.kt-subheader__title {
  text-align: center;
}

.transactions-section {
  padding: 30px;
}

.width50 {
  max-width: 50% !important;
}

.left_side {
  background: #f6f7fb;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
  border-radius: 4px;
}

.right_side {
  background: #f6f7fb;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
  border-radius: 4px;
  border-bottom: 5px solid #7fe18c;
}

.left_side h3 {
  text-align: center;
  border-bottom: 1px solid #d1d3e2;
  font-weight: bold;
  color: #4c4848;
  padding: 20px;
  margin-bottom: 30px;
}

.submit_button {
  /* padding: 40% 0; */
  text-align: center;
  clear: both;
  margin: 25px 0;
}

.submit_button .button_submit {
  border-radius: 4px;
  font-weight: 550;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  color: #FFF;
  padding: 10px 50px;
  max-width: 215px;
}

.coin-info .normal-bold-text img {
  width: 12%;
  margin: 0 5px 0 0;
}

.small-text {
  font-size: 12px;
  line-height: 17px;
  color: #828282;
  margin: 0;
}

.normal-bold-text {
  /* font-weight: 550; */
  font-size: 14px;
  line-height: 20px;
  color: #858796;
  margin: 0;
}

.normal-bold-text-buy {
  /* font-weight: 550; */
  font-size: 14px;
  line-height: 20px;
  color: #7fe18c;
  float: right;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff !important;
  background-color: #7fe18c !important;
  border-color: #7fe18c !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #7fe18c;
  border-color: #7fe18c;
}

.right-float {
  float: right;
}

.owner-ads-buy {
  color: #7fe18c !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.buyer-seller {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.item-info {
  padding: 17px 15px;
  border-bottom: 1px dashed rgba(0, 0, 0, .1);
}

.last_div {
  padding: 20px 15px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.estimate-value-buy {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #27AE60 !important;
}

.important_msg {
  padding: 10px 15px 20px 15px;
  color: red;
  margin: 0;
}

.question {
  padding: 25px 25px 15px 25px;
  background: #FFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.question--item .title {
  font-style: normal;
  font-weight: 550;
  line-height: 18px;
  font-size: 14px;
  color: #F9A01B;
}

.question--item .title i {
  font-style: normal;
  font-weight: 550;
  line-height: 18px;
  font-size: 14px;
  color: #F9A01B;
}

/* .question--item .title::before {
  content: '\f0da';
  font-family: 'FontAwesome';
  padding-right: 10px;
} */
.question--item .description {
  padding-left: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  color: #666;
}

.dash-button {
  font-weight: 550;
  text-transform: uppercase;
  font-size: 12px !important;
  width: 100px;
  height: 36px;
  display: inline-block;
  text-align: center;
  padding: 11px 0 !important;
  position: absolute;
  right: 35px;
}

.buy-now-header {
  background: #fff;
  border-radius: 3px;
  padding: 0;
  margin: 10px;
  box-shadow: 0px 0px 6px 6px #f8f9fc;
}

/* .buy-now-header:before {
  content: "";
  display: inline-block;
  width: calc(100% - 40px);
  height: 5px;
  background: #cccaca;
  top: 25px;
  left: 23px;
  position: absolute;
  margin-left: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
} */
.coin-header {
  height: 30px;
  padding: 5px;
  /* background: url(./images/background1.svg); */
  position: relative;
  /* width: 121px; */
  background-size: cover;
  background-color: #6144b2;
  border-radius: 5px 5px 0px 0px;
  /* margin-bottom: 3px; */
}

.coin-header-btc span {
  /* color: #F2994A; */
}

.coin-header-btc h2 {
  color: #fff;
  font-weight: 550;
  font-size: 18px;
  padding-left: 3px;
}

.buy-sell-button {
  font-weight: 550;
  text-transform: uppercase;
  font-size: 12px !important;
  width: 100px;
  display: inline-block;
  text-align: center;
  padding: 10px 0 !important;
  border-radius: 4px;
  color: #fff;
}

.buy-sell-button-profile {
  font-weight: 550;
  text-transform: uppercase;
  font-size: 10px !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 5px 0 !important;
  border-radius: 4px;
  color: #fff;
}

.buy_button {
  background-color: #7FE18C;
  border: 1px solid #7FE18C;
}

.sell_button {
  background-color: #EC8297;
  border: 1px solid #EC8297;
}

.price-text {
  font-size: 13px;
}

.border-left-buy {
  border-left: .25rem solid #7fe18c !important;
  border-radius: 0 !important;
  border: none;
}

.border-left-sell {
  border-left: .25rem solid #ec8197 !important;
  border-radius: 0 0 5px 5px !important;
  border: none;
}

.rdt_TableHeader {
  display: none !important;
}

.new_table table tbody tr td span i {
  margin: 5px;
  cursor: pointer;
}

.new_table table tbody tr td {
  text-align: center;
}

.data_not {
  text-align: center;
}

.gzCElL {
  height: unset !important;
  width: 100% !important;
  border-radius: 5px !important;
  border: 1px solid #e5e5e5;
  padding: 0 16px !important;
}

.coin-header-btc span h2 img {
  width: 15px;
  margin-top: -3px;
  margin-right: 10px;
}

.coin_image {
  width: 30px;
  margin: auto;
  margin-top: 60%;
}

.coin_image img {
  width: 100%;
}

.bank-section-buy {
  background-color: #fff;
  padding: 25px;
  border-bottom: 1px solid;
}

.buy-btc {
  background-color: #fff;
  padding: 25px;
}

.bank-section-buy input {
  width: 30%;
}

.buy-btc .card {
  border: 1px solid #dbdbdc;
  border-left: 4px solid #7fe18c;
  padding: 1%;
}

.price_card {
  color: #0F9D58 !important;
  font-weight: 500 !important;
}

.buy-btc button {
  margin-top: 12%;
}

.dash-buy-button {
  text-align: center;
}

.code_copy {
  position: relative;
  clear: both;
  text-align: center;
  padding: 7%;
  margin-bottom: 0 !important;
}

.code_copy i {
  position: absolute;
  right: 31% !important;
  bottom: 26% !important;
  z-index: 1;
  color: #5b42b2 !important;
}

.agree_div {
  margin-top: 10px;
  width: 46%;
  margin: auto;
}

.agree_div .form-check {
  width: 10px;
  float: left;
}

.last_div .detail {
  float: right;
}

.dash_bank_section {
  background-color: #fff;
  padding: 30px;
}

.dashboard_section {
  margin-top: -15px !important;
}

.bank_main_div {
  background: #fff;
  padding: 30px;
}

.bank_button img {
  width: 30px;
  margin-right: 5px;
}

.bank_button {
  background: #ffffff00;
  border: 0;
  margin: 10px;
  width: 120px;
  padding: 10px;
}

.bank_button:focus {
  outline: none !important;
}

.activeeth {
  background-color: #5e46af;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
}

.activeusdt {
  background-color: #5e46af;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
}

.activebtc {
  background-color: #5e46af;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
}

.buy_form_field {
  width: 48%;
  float: left;
  margin-right: 20px;
}

.sell_form_field {
  width: 100%;
}

.buy_form_fields {
  width: 48%;
  float: left;
}

#code {
  width: 50%;
  margin: auto;
}

.equivalentt {
  text-align: center;
}

.width-buy {
  width: 50%;
}

.buy_form_section {
  background: #fff;
  height: 100vh;
  padding: 30px;
}

#coin_amount {
  background-color: #f6f7fb;
  border-radius: 0;
}

#coin_address {
  background-color: #f6f7fb;
  border-radius: 0;
}

.border_last {
  border: none
}

.home_button {
  color: #fff;
}

.disabled {
  color: #dedede !important;
}

.home_button:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.bank_coin_button {
  padding: 25px;
}

.cancel_button {
  color: #858796;
}

.cancel_button:hover {
  color: #858796;
  text-decoration: none;
  cursor: pointer;
}

.banklisttable td {
  text-align: left;
}

.bank_table_button {
  background-color: #ffffff00;
  border: none;
}

#deletemodal .modal-body {
  text-align: center !important;
}

#deletemodal .modal_button {
  margin-right: 20px;
}

.bank-button {
  margin-right: 20px;
}

.currency_div .currency_button {
  width: 100%;
  background-color: #fff0;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
}

.currency_div .currency_button option {
  color: #000;
}

.currency_div .currency_button:focus {
  outline: none;
}

.coin_address {
  word-break: break-all;
}

.right-popup-button {
  float: right;
}

.pointer {
  cursor: pointer;
}

.rdt_TableCol {
  border: 1px solid #e3e6f0;
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
  font-size: 1rem !important;
  color: #858796 !important;
}

.rdt_TableCol .rdt_TableCol_Sortable {
  width: 100%;
  text-align: center;
}

.rdt_TableCol .rdt_TableCol_Sortable div {
  width: 100%;
  text-align: center;
}
.rdt_TableCell {
  box-sizing: content-box;
  border: 1px solid #e3e6f0;
}

.table_cell {
  width: 100%;
  text-align: center;
  color: #858796 !important;
  padding: 5px;
}

.bank-button:focus {
  box-shadow: unset !important;
}

.padding {
  padding-left: 25px;
  padding-right: 25px;

}

.updatebtn:hover {
  background-color: #2e59d9;
  border-color: #2e59d9;
}

.verify-email-button {
  border-radius: 10rem;
}

.center-text {
  text-align: center;
}

.sell-modal {
  max-width: 600px !important;
}

.sell-modal .modal-body {
  padding: 40px 20px;
}

.graybtn {
  background-color: gray;
  border-color: gainsboro;
}

.graybtn:focus {
  outline: gray !important;
}

.perpalbtn {
  background-color: #5b43b1;
  border: 1px solid #5e47aeb8;
}

.banklink {
  padding: 15px;
  background-color: white;
  margin-top: 10px;
  text-align: center;
}

.blinking {
  animation: blinkingText 1.2s infinite;
  font-size: 12px !important;
}

@keyframes blinkingText {
  0% {
    color: white;
    background-color: indigo;
  }

  49% {
    color: white;
    background-color: rgba(76, 0, 130, 0.746);
  }

  60% {
    color: gray;
    background-color: transparent;
  }

  99% {
    color: gray;
    background-color: transparent;
  }

  100% {
    color: white;
    background-color: indigo;
  }
}

.MobileOtp_container {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.modal_2fa {
  top: 0;
  left: 0;
  z-index: 33;
  position: fixed;
  width: 100%;
  background-color: #00000073;
}

.w-55 {
  position: relative;
  width: 55%;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}
.qrcodeshow{
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0000008a;

}
.verifiedmail{
  font-size: 22px;
    padding: 10px;
}
.verifiedmail i{
  color: #7fe18c;
}
.verifybutton .btn-verify{
  width: 33%;
  /* background-color: #7fe18c;
    color: #fff;
    font-size: 19px;
    border: none;
    padding: 11px;
    border-radius: 25px;
    font-weight: 600; */
}

.trading_table{
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}
.trading_table_red{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}
.trading_table_green{
  color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}
.copy_code{
  position: relative;
  clear: both;
  text-align: center;
  padding: 2%;
  margin-bottom: 0 !important;
}
.copy_code .copy_code_popup{
  position: absolute !important;
  right: 30% !important;
  bottom: 40% !important;
  z-index: 1 !important;
  color: #5b42b2 !important;
}
.confirm_popup_button{
  padding: 10px;
}
.confirm_popup_button .confirm_button{
  color: #fff;
  background-color: #5b42b2;
  border-color: #5b42b2;
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
}
.confirm_popup_button .close_button{
  color: #fff;
    background-color: #6b6d7d;
    border-color: #656776;
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
    border: none; 
}
.enable_popup .modal-dialog{
  max-width: 900px;
}
.wallet_page{
  padding: 30px;
}
.symbol_name{
  line-height: 30px;
  font-size: 16px;
}
.wallet_table .rdt_TableCol .rdt_TableCol_Sortable {
  width: unset !important;
  text-align: left !important;
}
.wallet_table .rdt_TableCol .rdt_TableCol_Sortable {
  width: unset !important;
  text-align: left !important;
}
.wallet_table .wallet_icon{
  width: 30px;
  float: left;
  margin-right: 10px;
}
.wallet_table .wallet_icon img{
  width: 100%;
}
.wallet_table .table_cell{
  width: unset !important;
  font-size: 16px;
}
.currency_div_dashboard .currency_button{
  background-color: #fff0;
    color: #8a8a8a;
    border-radius: 20px;
    padding: 5px;
}
.kyc_section{
  padding: 30px;
}
.kyc_section .kyc_header{
  text-align: center;
  margin: 25px 0;
}
.kyc_card_body{
  border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(162, 162, 162, 0.5);
    border: none;
    padding: 10px;
    min-height: 262px;
    position: relative;
}
.kyc_card_body .card-text{
  font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: gray;
    margin-bottom: 20px;
}
.kyc_card_body .kyc_card_img{
  width: 25%;
  margin: auto;
}
.kyc_card_body .kyc_card_img img{
  width: 100%;
}
.kyc_card_body h6{
  color: gray;
  margin: 20px 0;
}
.kyc_card_body .card_content{
  font-size: 12px;
    line-height: 16px;
    color: gray;
    font-weight: 400;
}
.kyc_record .kyc_record_heading{
  font-weight: 600;
    font-size: 21px;
    margin: 25px 0;
}
.twofa_card{
  border: 3px dotted #5b42b2;
  padding: 7% 15%;
  border-radius: 10px;
  margin: 5% 0;
  background-color: #ebebeb;
}
.twofa_card .kyc_level_card p{
  color: #000;
}
.twofa_card .kyc_level_card .upload_icon{
  margin: 20px 0;
}

.twofa_section .nav-link.active {
  /* color: #6e707e !important; */
  background-color: #fff !important;
  border-color: #fff !important;
  border-bottom: solid 2px #5f48ad !important;
}
.phone_2fa_heading{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.twofa_input input{
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.twofa_phn_button{
  margin-bottom: 35px!important;
  margin-top: 15px;
}
.twofa_phn_button .phone_2fa_button{
  width: 100%;
  color: #fff;
  background-color: #5e47ae;
  border-color: #5f48ae;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
#nav-profile{
  text-align: center;
}
.file_kyc{
  position: relative;
  overflow: hidden;
  width: 25%;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.file_kyc:hover{
  color: #fff !important;
    background-color: #5e47ae !important;
    border-color: #5e47ae !important;
    
}
.kyc_input{
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  width: 100%;
    height: 100%;
    cursor: pointer;
}
.kyc_finish_button{
  width: 100%;
  color: #fff;
  background-color: #5e47ae;
  border-color: #5f48ae;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-top: 20px;
} 
.kyc_level_card{
  text-align: center;
}
.kyc_header h3{
  font-weight: 600;
    font-size: 21px;
}
.table_cell_kyc {
  width: 100%;
  text-align: center;
  color: #858796 !important;
  padding: 5px;
}
.back_color{
  background-color: #fff;
}
.back_color table{
  margin-bottom: 0;
}
.kyc_card .card.text-center{
  height: 300px;
}
.approved_check {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4ba745;
  border-color: #4ba745;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  padding: 5px;
  color: #ffff;
}
.reject_check{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #dc3545;
  border-color: #dc3545;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  padding: 4px;
  color: #ffff;
}
#swal2-title{
  color: #fff !important;
}
.kyc_record_heading span{
  background-color: #f8f9fa;
  border: 2px solid #4ba745;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin-left: 4%;
}
.kyc_record .back_color .table tbody tr td{
  vertical-align: middle;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .dashboard_section {
    height: unset !important;
  }

  .card-body {
    text-align: center;
  }

  .right_side {
    text-align: center;
  }

  .buyer-seller {
    margin: 10px;
    border: none;
  }

  .small-text {
    margin-bottom: 5px;
  }

  .coin-info {
    margin: 10px;
  }

  .coin-info .normal-bold-text img {
    margin: 0 8px;
  }

  .kt-portlet__head {
    width: 100%;
  }

  .gzCElL {
    width: 100% !important;
  }

  .buy-sell-button {
    width: 50%;
    margin: 10px 0;
  }

  .dash_bank_section {
    padding: 0;
  }

  .dash_bank_section .buy-now-header .card-body {
    padding: 10px;
    text-align: center;
  }

  .bank-section {
    padding: 0;
  }

  .bank_main_div {
    padding: 0;
  }

  .bank_button {
    width: 50px;
    padding: 0px;
    font-size: 11px;
  }

  .bank_button img {
    width: 15px;
    float: left;
  }

  .buy-btc {
    background-color: #fff;
    padding: 10px;
  }

  .coin_image {
    width: 30px;
    margin: auto;
    margin-top: 0;
  }

  .buy-btc p {
    font-size: 10px;
    text-align: center;
  }

  .buy-btc button {
    margin-top: 0;
  }

  .buy_form_section {
    padding: 0px;
  }

  .left_side {
    padding: 10px;
  }

  .left_side h3 {
    padding: 0px;
    font-size: 20px;
  }

  .buy_form_field {
    width: 100%;
    float: unset;
    margin-right: 20px;
  }

  .buy_form_fields {
    width: 100%;
    float: unset;
  }

  #code {
    width: 100%;
    margin: auto;
    border-radius: 10px;
  }

  .codetext {
    font-size: 12px !important;
  }

  .code_copy a {
    position: absolute;
    right: 30%;
    bottom: 34%;
    z-index: 1;
    color: #7fe18c !important;
  }

  /* 
  .code_copy .code_copy_i {
    position: absolute;
    right: 31% !important;
    bottom: 26% !important;
    z-index: 1;
    color: #5b42b2 !important;
  } */

  .agree_div {
    width: 100%;
  }

  .buyer-seller {
    border-right: none;
    text-align: center;
  }

  .coin-info {
    text-align: center;
  }

  .item-info {
    text-align: left;
    padding: 5px;
    border-bottom: none;
  }

  .item-info span {
    font-size: 12px;
  }

  .last_div {
    text-align: left;
    padding: 5px;
    border-bottom: none;
  }

  .last_div span {
    font-size: 12px;
  }

  .right_side {
    padding: 10px;
  }

  .item {
    width: 100% !important;
  }

  .card-icon {
    padding: 10px !important;
  }

  .owl-carousel .owl-item img {
    width: 30px !important;
  }

  .card-icon p {
    margin-top: 1% !important;
  }

  .card-pink {
    border-radius: unset;
    padding: 10px 0px !important;
  }

  .card-green {
    border-radius: unset;
    padding: 10px 0px !important;
  }

  .animateBlock.left {
    left: 0 !important;
  }

  .animateBlock {
    opacity: unset !important;
  }

  .animateBlock.right {
    right: 0 !important;
  }
  .table_cell_kyc {
    width: 100%;
    text-align: center;
    color: #858796 !important;
    padding: 5px;
  }
  .kyc_card .card.text-center{
    margin: 10px;
  }
  .marquee .growth{
    font-size: 14px;
  }
  .currency_div_dashboard{
    margin: 10px;
  }
  .verify-email-button{
    width: 100%;
    padding: 10px;
  }
  .brUrmY{
    width: 100% !important;
  }
  .img-thumbnail{
    margin:  10px 0px;
  }
.kyc_section {
  padding: 10px;
}
.twofa_card {
  padding: 7% 7%;
}
#nav-tabContent{
  padding: 0 !important;
}
#nav-profile {
  padding: 10px;
}
#nav-profile img{
  width: 100px;
}
#nav-profile h5{
  word-break: break-word;
}
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .dashboard_section {
    height: unset !important;
  }

  .card-body {
    text-align: center;
  }

  .right_side {
    text-align: center;
  }

  .buyer-seller {
    margin: 10px;
    border: none;
  }

  .small-text {
    margin-bottom: 5px;
  }

  .coin-info {
    margin: 10px;
  }

  .coin-info .normal-bold-text img {
    margin: 0 8px;
  }

  .kt-portlet__head {
    width: 100%;
  }

  .gzCElL {
    width: 100% !important;
  }

  .buy-sell-button {
    width: 50%;
    margin: 10px 0;
  }

  .dash_bank_section {
    padding: 0;
  }

  .dash_bank_section .buy-now-header .card-body {
    padding: 10px;
    text-align: center;
  }

  .bank-section {
    padding: 0;
  }

  .bank_main_div {
    padding: 0;
  }

  .bank_button {
    width: 50px;
    padding: 0px;
    font-size: 11px;
  }

  .bank_button img {
    width: 15px;
    float: left;
  }

  .buy-btc {
    background-color: #fff;
    padding: 10px;
  }

  .coin_image {
    width: 30px;
    margin: auto;
    margin-top: 0;
  }

  .buy-btc p {
    font-size: 10px;
    text-align: center;
  }

  .buy-btc button {
    margin-top: 0;
  }

  .buy_form_section {
    padding: 0px;
  }

  .left_side {
    padding: 10px;
  }

  .left_side h3 {
    padding: 0px;
    font-size: 20px;
  }

  .buy_form_field {
    width: 100%;
    float: unset;
    margin-right: 20px;
  }

  .buy_form_fields {
    width: 100%;
    float: unset;
  }

  #code {
    width: 100%;
    margin: auto;
  }

  .code_copy a {
    position: absolute;
    right: 12%;
    bottom: 25%;
    z-index: 1;
    color: #7fe18c !important;
  }

  .agree_div {
    width: 100%;
  }

  .buyer-seller {
    border-right: none;
    text-align: center;
  }

  .coin-info {
    text-align: center;
  }

  .item-info {
    text-align: left;
    padding: 5px;
    border-bottom: none;
  }

  .item-info span {
    font-size: 12px;
  }

  .last_div {
    text-align: left;
    padding: 5px;
    border-bottom: none;
  }

  .last_div span {
    font-size: 12px;
  }

  .right_side {
    padding: 10px;
  }

  .item {
    width: 100% !important;
  }

  .card-icon {
    padding: 10px !important;
  }

  .owl-carousel .owl-item img {
    width: 30px !important;
  }

  .card-icon p {
    margin-top: 1% !important;
  }

  .card-pink {
    border-radius: unset;
    padding: 10px 0px !important;
  }

  .card-green {
    border-radius: unset;
    padding: 10px 0px !important;
  }

  .animateBlock.left {
    left: 0 !important;
  }

  .animateBlock {
    opacity: unset !important;
  }

  .animateBlock.right {
    right: 0 !important;
  }
  .table_cell_kyc {
    width: 100%;
    text-align: center;
    color: #858796 !important;
    padding: 5px;
  }
  .kyc_card .card.text-center{
    margin: 10px;
  }
  .marquee .growth{
    font-size: 14px;
  }
  .currency_div_dashboard{
    margin: 10px;
  }
  .verify-email-button{
    width: 100%;
    padding: 10px;
  }
  .brUrmY{
    width: 100% !important;
  }
  .img-thumbnail{
    margin:  10px 0px;
  }
  .kyc_section {
    padding: 10px;
  }
  .twofa_card {
    padding: 7% 7%;
  }
  #nav-tabContent{
    padding: 0 !important;
  }
  #nav-profile {
    padding: 10px;
  }
  #nav-profile img{
    width: 100px;
  }
  #nav-profile h5{
    word-break: break-word;
  }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
  .text-xs {
    text-align: center;
}
.price-text {
  text-align: center;
}
.buy-sell-button {
  width: 100%;
  padding: 0 0 !important;
}
.table_cell_kyc {
  width: 100%;
}
.brUrmY {
  width: 100% !important;
}
}

@media only screen and (min-device-width : 260px) and (max-device-width : 320px) {
  .dash_bank_section {
    padding: 0;
  }

  .dash_bank_section .buy-now-header .card-body {
    padding: 10px;
    text-align: center;
  }

  .bank-section {
    padding: 0;
  }

  .bank_main_div {
    padding: 0;
  }

  .bank_button {
    width: 50px;
    padding: 0px;
    font-size: 11px;
  }

  .bank_button img {
    width: 15px;
    float: left;
  }

  .buy-btc {
    background-color: #fff;
    padding: 10px;
  }

  .coin_image {
    width: 30px;
    margin: auto;
    margin-top: 0;
  }

  .buy-btc p {
    font-size: 10px;
  }

  .buy-btc button {
    margin-top: 0;
  }

  .buy_form_section {
    padding: 0px;
  }

  .left_side {
    padding: 10px;
  }

  .left_side h3 {
    padding: 0px;
    font-size: 20px;
  }

  .buy_form_field {
    width: 100%;
    float: unset;
    margin-right: 20px;
  }

  .buy_form_fields {
    width: 100%;
    float: unset;
  }

  #code {
    width: 100%;
    margin: auto;
  }

  .code_copy a {
    position: absolute;
    right: 12%;
    bottom: 11%;
    z-index: 1;
    color: #7fe18c !important;
  }

  .agree_div {
    width: 100%;
  }

  .buyer-seller {
    border-right: none;
    text-align: center;
  }

  .coin-info {
    text-align: center;
  }

  .item-info {
    padding: 5px;
    border-bottom: none;
  }

  .item-info span {
    font-size: 12px;
  }

  .last_div {
    padding: 5px;
    border-bottom: none;
  }

  .last_div span {
    font-size: 12px;
  }

  .right_side {
    padding: 10px;
  }
  .kyc_section {
    padding: 10px;
  }
  .twofa_card {
    padding: 7% 7%;
  }
  #nav-tabContent{
    padding: 0 !important;
  }
  #nav-profile {
    padding: 10px;
  }
  #nav-profile img{
    width: 100px;
  }
  #nav-profile h5{
    word-break: break-word;
  }
}
.subscrib_form{
  display: flex;
  width: 100%;
  background-color: #eaeaea12;
  border-radius: 48px;
  padding: 9px 9px;
}
.subscrib_status{
  color: white;
  font-size: 17px;
}